body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    
}

.menu {
    background-color: #edebd7;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.menu img {
    height: 60px;
    padding: 10px;
    float: right;
}

.menu img:first-child {
    float: left;
    height: 80px;
    padding: 0px;
}

.map {
    position: fixed;
    top: 80px;
    height: calc(100vh - 80px);
    left: 30%;
    width: 70%;
}
